.container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.button {
  padding: .5em;
  font-size: 16px;
  width: 99%;
  cursor: pointer;
  background-color: #0A05F2;
  color: white;
  border: none;
  border-radius: 6px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Ajuste a opacidade conforme necessário */
  z-index: 1000; /* Certifique-se de que o modal esteja acima de outros elementos */
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  z-index: 1001; /* Certifique-se de que o modal esteja acima do overlay */
}

.modalTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.modalSubtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectedUsers {
  margin-top: 10px;
}

.userItem {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.modalButton, .botaoEnviar {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
}

.modalButton {
  background-color: #6c757d;
}
