.bodyFormacaoEquipe {
  background: linear-gradient(90deg,
      rgba(52, 136, 136, 1) 15%,
      rgba(158, 248, 238, 1) 39%,
      rgba(151, 240, 231, 1) 62%,
      rgba(52, 136, 136, 1) 87%);
  font-family: 'Roboto', sans-serif;
  color: #333;
  height: 100vh;
}

.container {
  max-width: 40em;
  margin: 1em auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: blue; 
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: rgb(0, 0, 167); 
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 1em;
  margin: 10px 0 5px;
}

.select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.divBotao {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #08b00d;
}

.reset {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset:hover {
  background-color: #d15844;
}
