.InputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 500px;
}

.Inputbox input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #38535f;
  width: 100%;
  height: 40px;
}

.button {
  margin-top: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  width: 9.063rem;
  height: 2.813rem;
  border-radius: 1rem;
  background: linear-gradient(rgba(242, 86, 30, 1), rgba(250, 130, 16, 1));
  border: 0.2rem solid rgba(242, 86, 30, 1);
  cursor: pointer;
  text-align: center;
  transition: 1 s all;
  margin-bottom: 10px;
}
