.projectExist {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #0A05F2;
  font-size: 2rem;
  font-weight: bold;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}

/* Project Title */
.projectTitle {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #0A05F2;
  padding-bottom: 1rem;
  grid-column: 1 / -1;
}

.projectTitle h2 {
  font-size: 2.5rem;
}

/* Editable Inputs */
.projectTitle input {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #EEEDED;
  border-radius: 10px;
}

.column textarea {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  resize: vertical;
  background-color: #EEEDED;
}

/* Grid Layout */
.gridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Columns */
.column {
  display: flex;
  flex-direction: column;
}

/* Rows */
.row {
  margin-bottom: 2rem;
}

/* Headings */
h3 {
  color: #333;
  margin-bottom: 1rem;
}

/* Descrição do Projeto */
.row textarea {
  color: #666;
}

/* Participantes */
.participantList {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #EEEDED;
  border-radius: 8px;
  min-height: 22vh;
}

/* Arquivos */
.fileList {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #EEEDED;
  border-radius: 8px;
  min-height: 22vh;
}

/* Atividades */
.activityText {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #EEEDED;
  border-radius: 8px;
  min-height: 55vh;
}

.activityText p {
  font-size: smaller;
  display: flex;
}

.fileList p {
  font-size: smaller;
  display: flex;
}

/* Save Button */
.saveButton {
  display: block;
  margin: 2rem auto;
  padding: 0.75rem 2rem;
  background-color: #0A05F2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #0804c9;
}

/* Modal Solicitação */
.modal {
  /* Estilo do modal aqui */
}
