.card {
    display: flex;
    /*background-color: #d7d9df; /* Fundo cinza claro */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: box-shadow 0.3s ease;
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 400px; /* Defina o tamanho máximo do card */
    border-bottom: 1px solid #ddd; /* Linha divisória no final do card */
    border: 1px solid blue;
    cursor: pointer;
  }

  .contentInfo {
    display: flex;
  }
  

  
  .fotoParticipante {
    width: 4.5rem; /* Defina a largura da foto conforme necessário */
    height: 4.5rem; /* Defina a altura da foto conforme necessário */
    object-fit: cover; /* Evita distorção da imagem */
    border-radius: 50%; /* Para uma foto circular */
    margin-right: 16px; /* Espaçamento entre a foto e as informações */
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .nome {
    font-weight: bold;
    margin-bottom: 4px; /* Espaçamento inferior entre o nome e a faculdade */
    color: #333; /* Cor mais escura para o nome */
  }
  
  .faculdade {
    color: #666;
  }

  .btnKickParticipant {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: auto;  
    height: min-content;
    padding: .3em;
    border-radius: 5px;
  }