.card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 3em;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    width: 100%;
    align-items: center;
  }
  
  .nome {
    margin: 0;
    font-size: 16px;
  }

  .adminActions {
    display: flex;
    gap: .2em;
  }

  .btnVer, .btnExcluir, .btnEditar{
    padding: 8px 16px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btnVer {
    background-color: #007bff;
  }

  .btnExcluir {
    background-color: #dc3545;
  }

  .btnEditar {
    background-color: #28a745;
  }
  
  button:hover {
    opacity: .8;;
  }
