@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf') format('truetype');
  } 

.pageStyle {
    background: linear-gradient(90deg,
    rgba(52, 136, 136, 1) ,
    rgba(158, 248, 238, 1) ,
    rgba(151, 240, 231, 1) ,
    rgba(52, 136, 136, 1) );
    padding-bottom: 2em;
}

.bodyUserProfile {
    background-color: white;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 25px 25px 25px 25px;
}

.capaUserProfile {
    display: flex;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    border-bottom: solid .2em blue;
    border-radius: 25px 25px 0px 0px;
}

.capaNome{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.fotoNomeProfile {
    display: flex;
}

.fotoDePerfil {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-end;
}

.fotoDePerfil img {
    max-width: 100%;
    height: auto;
}

.nomeDePerfil {
    padding: 1em;
    display: flex;
    height: 100%;
    align-items: center;
    display: flex;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: blue;
}

.btnEditProfile {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-decoration: none;
    justify-content: end;
    cursor: pointer;
}


.blocoConteudo {
    display: flex;
    justify-content: space-between;
    padding: 1.4em;
}

  /* On smaller screens, stack items vertically */
@media (max-width: 600px) {
    .blocoConteudo {
      flex-direction: column;
      align-items: stretch;
    }
}

.coluna1UserProfile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 1em;
    width: 33%;
}


.btnMeusProjetos {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 1em;
    border-radius: 1rem;
    background: blue;
    width: 100%;
    border: none; 
    cursor: pointer;
    text-align: center;
}

.btnMeusProjetosHover {
    background: linear-gradient(rgba(52, 136, 136, 1), rgba(34, 186, 187, 1));
    color: #fff;
}

.linhaDeRedirecionamentoExterno{
    display: flex;
}

.btnLinkedIn,
.btnInstagram,
.btnGMail {
    width: 100%;
    min-height: 3rem;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 2px solid transparent; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

.btnLinkedIn:hover,
.btnInstagram:hover,
.btnGMail:hover {
    background-color: #f0f0f0; 
}

.btnLinkedIn:focus,
.btnInstagram:focus,
.btnGMail:focus {
    outline: none; 
    border-color: #0077b5;
}

.btnLinkedIn svg,
.btnInstagram svg,
.btnGMail svg {
    vertical-align: middle; 
    margin-right: 0.5rem;
}



.Campus {
    display: flex;
    gap: 1em;
}

.Campus p {
    background-color: #E6E6E6;
    border-radius: 15px;
    width: 100%;
    padding: .3em 1em;
}

.btnUploadCurriculo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 100%;
    max-width: 100rem;
    min-height: 2.8rem;
    padding: 2rem;
    border-radius: 1rem;
    background: blue;
    border: none; 
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    align-self: flex-end;
    margin-top: 1rem;
}

.coluna2UserProfile{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.retanguloCinza {
    padding: .8em;
    background-color: #e6e6e6;
    border-radius: 8px;
    width: auto;
    font-size: 1.2rem;

}