@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf') format('truetype');
  } 

.bodyUserProfile {
    background-color: white;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.capaUserProfile {
    display: flex;
    border-radius: 25px 25px 0px 0px;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    background-image: linear-gradient(to bottom,rgba(229,119,72,1), rgba(255,0,0,0));
}

.capaNome{
    display: flex;
    width: 100%;
}

.fotoNomeProfile {
    display: flex;
}

.fotoDePerfil {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-end;
    /* Ensure the image stays within the circular mask */
}

.fotoDePerfil img {
    max-width: 100%;
    /* Make the image fill the circular container */
    height: auto;
    /* Maintain the aspect ratio of the image */
    
}

.nomeDePerfil {
    margin: 30px;
    padding-right: 20%;
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;
}

.btnEditProfile {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    color: rgb(190, 16, 16);
    padding: 15px 32px;
    text-decoration: none;
    justify-content: end;
}


.blocoConteudo {
    display: flex;
    justify-content: space-between;
}

  /* On smaller screens, stack items vertically */
@media (max-width: 600px) {
    .blocoConteudo {
      flex-direction: column;
      align-items: stretch;
    }
}

.coluna1UserProfile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}


.btnMeusProjetos {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 100%;
    max-width: 100rem;
    min-height: 2.8rem;
    padding: 2rem;
    border-radius: 1rem;
    background: rgb(242,68,5);
    border: none; 
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    transition: background 0.8s;
    align-self: flex-end;
    margin-top: 1rem;
}

.btnMeusProjetosHover {
    background: linear-gradient(rgba(52, 136, 136, 1), rgba(34, 186, 187, 1));
    color: #fff;
}

.linhaDeRedirecionamentoExterno {
display: flex;
justify-content: center;
}

.btnLinkedIn {
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 10rem;
    min-height: 2.8rem;
    border-radius: 1rem;
    background-color:transparent;
    border: none; 
    cursor: pointer;
}
.btnInstagram {
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 10rem;
    min-height: 2.8rem;
    border-radius: 1rem;
    background-color:transparent;
    border: none; 
    cursor: pointer;
}
.btnGMail {
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 10rem;
    min-height: 2.8rem;
    border-radius: 1rem;
    background-color:transparent;
    border: none; 
    cursor: pointer;
}


.Campus {
    display: flex;
    gap: 1em;
}

.Campus p {
    background-color: #E6E6E6;
    border-radius: 15px;
    width: 100%;
    padding: .3em 1em;
}

.btnUploadCurriculo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 100%;
    max-width: 100rem;
    min-height: 2.8rem;
    padding: 2rem;
    border-radius: 1rem;
    background: rgb(242,68,5);
    border: none; 
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    transition: background 0.8s;
    align-self: flex-end;
    margin-top: 1rem;
}

.coluna2UserProfile{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.retanguloCinza {
    background-color: #e6e6e6;
    border-radius: 8px;
    height: 50vh;
    width: auto;

}