/* ModalStyles.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.columns {
    display: flex;
    width: 100%;
}

.column {
    flex: 1;
    padding: 10px;
}

.field {
    margin-bottom: 15px;
    width: 90%; /* Ajuste opcional para largura total */
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input,
.field .ql-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonGroup {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.saveButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.saveButton {
    background: #4caf50;
    color: white;
}

.cancelButton {
    background: #f44336;
    color: white;
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.quill-container {
    width: calc(100% - 30px); /* Ajuste para a largura do conteúdo dentro do padding do modal */
    max-height: 300px; /* Defina uma altura máxima se necessário */
    overflow-y: auto; /* Adicione rolagem vertical se necessário */
}

.quill-container .ql-editor {
    height: 2000px !important; /* Garante que a altura do editor seja automática */
    min-height: 250px; /* Ajuste a altura mínima do editor */
}
